<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Mi primera tienda </p>

    <ul>
        //esto de aqui abajo es una contante entonces no ponemos ningun igual 
        <%for (let i =0;: i< libros.lenght; i++) { %>

            //lo de abajo lo va a imrpimir 
            //esto de aqui abajo es una variable por eso ponemos el igual
            <li><%=libros [i].nombre%></li>

            <div>
                //aqui tiene que ir lo que has hecho foto de boootrap que no se de donde lo ha sacado //BUSCA BOOTRAP CARDS Y TE SALE EL CODIGO NECESARIO
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>

            //para hacer filtros te vas al card body , haces un for
            (let j =0;: j< libros.lenght; j++) { %>
                <spancalss="....esto lo encuenrtras en boots.." metes libros [i]. genero.

                //hacer filtros en el servidor o filtro lateral, en el front end, no en el back end 


            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

        </body>


        
    </ul>
</body>
</html>