
body {
  align-items: center;
    font-family:"";
    margin: 0;
    text-align: center;
    background-color: rgb(229, 229, 229);
  }

  p {
    
   background-color: rgb(220, 209, 203);
   font-family:'Trebuchet MS', sans-serif, sans-serif, monospace;
   margin: 0;

  }

  table {
    border: 4em;
    border: rgb(53, 85, 85);
    align-self: center;
    text-align: center;
  }
