
body {
    font-family:"";

    margin: 12;
    text-align: center;
    background-color: rgb(217, 195, 158);
  }

  p {
    color: rgb(92, 115, 104);
   background-color: rgb(205, 171, 131);
   font-style:italic;
   font-family:"monospace", Verdana, sans-serif;


  }

  table {
    border: 2em;
    border: rgb(132, 89, 50);
    align-self: center;

    text-align: center;
  }
