
body {
    font-family:'Calibri';

    margin: 0;
    text-align: center;
    background-color: turquoise;
  }

  table {
    border: 2em;
    border: bisque;
    align-self: center;

    text-align: center;
  }
